/* ---------------------------- */
/*        IMPORT FONTS         */
/* ---------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* ---------------------------- */
/*        ROOT VARIABLES       */
/* ---------------------------- */
:root {
  --font-size-headline: 48px;
  --font-size-headline-mb: 36px;
  --font-size-subheadline: 22px;
  --font-size-subheadline-mb: 20px;
  --font-size-paragraph: 16px;
  --font-size-paragraph-mb: 14px;

  --white-color: #fffffe;
  --purple-color: #7f5af0;
  --purple-hover-color: #a78bfa;
  --black-color: #16161a;
  --grey-color: #242629;
  --detail-color: #4c5560;
}

/* ---------------------------- */
/*         GLOBAL RESET        */
/* ---------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "Inter", sans-serif;
  background-color: #1e1e1e;
  color: var(--white-color);
}

/* ---------------------------- */
/*         TEXT STYLES         */
/* ---------------------------- */
.gradient-purple {
  background: linear-gradient(90deg, #7f5af0 0%, #ffffff 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headline-container {
  margin-bottom: 50px;
  text-align: center;
}

.headline {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-headline);
  font-weight: 700;
  display: inline;
}

/* ---------------------------- */
/*         NAVIGATION          */
/* ---------------------------- */
nav {
  width: 100%;
  align-items: center;
  background-color: var(--black-color);
  min-height: 80px;
  padding: 0 20px;
}

.hamburger {
  display: none;
}

.mobile-nav-menu {
  display: none;
}

.mobile-nav-menu ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  list-style: none;
  width: 100%;
}

.mobile-nav-menu li a {
  text-decoration: none;
  color: var(--white-color);
  width: 100%;
}

.mb-nav {
  width: 100%;
  color: var(--white-color);
  border-bottom: 1px solid var(--grey-color);
  padding: 10px 0;
}

.mb-nav:hover {
  background-color: var(--detail-color);
}

.nav-content {
  max-width: 1280px;
  padding-top: 30px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--white-color);
}

.nav-menu ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.nav-menu ul li a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: var(--white-color);
  padding: 10px 20px;
  border-radius: 5px;
}

.nav-menu ul li a:hover {
  background-color: var(--grey-color);
}

/* ---------------------------- */
/*         HERO SECTION        */
/* ---------------------------- */
.hero {
  background-color: var(--black-color);
  padding: 0 20px;
  height: 100vh;
  max-height: calc(100vh - 80px);
}

.hero-content {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.hero-text {
  max-width: 550px;
}

.hero-name {
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
  margin: 10px 0;
}

.sub-hero {
  font-size: 30px;
  font-weight: 500;
}

.hero-description {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  color: var(--detail-color);
  margin-top: 20px;
}

.hero-img img {
  width: 500px;
  height: 500px;
  background-color: var(--grey-color);
  object-fit: cover;
  border-radius: 5px;
}

/* ---------------------------- */
/*        HERO CONTACTS        */
/* ---------------------------- */
.hero-contacts {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 45px;
  flex-wrap: wrap;
}

.hero-contacts-icons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.hero-contacts a {
  border-radius: 5px;
  overflow: hidden;
}

.hero-contacts a:hover {
  background-color: var(--grey-color);
}

.hero-contacts img {
  width: 51px;
  height: 51px;
}

/* ---------------------------- */
/*         RESUME BUTTON       */
/* ---------------------------- */
.resume-btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--purple-color);
  color: var(--white-color);
  text-decoration: none;
  font-size: 18px;
}

.resume-btn:hover {
  color: var(--purple-hover-color);
}

/* ---------------------------- */
/*        SKILLS SECTION       */
/* ---------------------------- */
.skill-section {
  background-color: var(--grey-color);
  padding: 0 20px;
}

.skill-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.skill-group {
  margin-bottom: 50px;
}

.skill-group .sub-headline {
  font-size: var(--font-size-subheadline);
  font-weight: 700;
  margin-bottom: 20px;
}

.skill-group ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  list-style: none;
}

.skill-group img {
  width: 130px;
  height: 130px;
}

/* ---------------------------- */
/*       PROJECT SECTION       */
/* ---------------------------- */

.project-section {
  background-color: var(--black-color);
  padding: 0 20px;
}

.project-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background-color: var(--grey-color);
  border-radius: 5px;
  width: 400px;
}

.project-card img {
  width: 100%;
  height: 250px;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.project-info {
  padding: 10px;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title h3 {
  font-size: var(--font-size-subheadline);
  font-weight: 700;
}

.project-title img {
  width: 35px;
  height: 35px;
}

.project-descr {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  color: var(--detail-color);
  margin-top: 10px;
}

.project-tech {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
}

.tech-item {
  background-color: var(--purple-color);
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
}

.external-link {
  cursor: pointer;
}

.external-link:hover {
  background-color: var(--black-color);
}

/* ---------------------------- */
/*     EXPERIENCE & EDUCATION  */
/* ---------------------------- */
.experience-education {
  background-color: var(--grey-color);
  padding: 50px 20px;
}

.experience-section,
.education-section {
  max-width: 1280px;
  margin: 0 auto;
}

.e-card {
  background-color: var(--black-color);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 50px;
}

.e-card .date,
.e-card .sub,
.gpa {
  color: var(--purple-color);
}

.e-card .title {
  font-size: var(--font-size-subheadline);
  font-weight: 700;
  margin-top: 10px;
}

.e-card .descr {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  color: var(--detail-color);
  margin-top: 10px;
}

.e-card .descr ul {
  margin-left: 30px;
}

footer {
  background-color: var(--black-color);
  padding: 20px;
}

footer .footer-content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-content p {
  font-size: 40px;
  font-weight: 700;
}

footer .social-links img {
  height: 55px;
  width: 55px;
}

footer .social-links ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

/* ---------------------------- */
/*        MEDIA QUERIES        */
/* ---------------------------- */
@media (max-width: 768px) {
  .headline {
    font-size: var(--font-size-headline-mb);
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav-menu {
    display: none;
    width: 100%;
  }

  .nav-menu ul {
    flex-direction: column;
    width: 100%;
  }

  .mobile-nav-menu.show {
    display: flex;
  }

  .hero {
    max-height: none;
    padding-bottom: 50px;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text {
    margin: 20px 0;
  }

  .hero-name {
    font-size: var(--font-size-headline-mb);
    line-height: var(--font-size-headline-mb);
  }

  .sub-hero {
    font-size: var(--font-size-subheadline);
  }

  .hero-description {
    font-size: var(--font-size-paragraph-mb);
    margin-top: 40px;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }

  .hero-contacts {
    flex-direction: column;
    margin: 15px 0;
    gap: 15px;
  }

  .skill-group .sub-headline {
    font-size: var(--font-size-subheadline-mb);
  }

  .skill-group ul {
    gap: 20px;
  }

  .skill-group img {
    width: 60px;
    height: 60px;
  }

  .project-title h3 {
    font-size: var(--font-size-subheadline-mb);
  }

  .project-descr {
    font-size: var(--font-size-paragraph-mb);
  }

  .tech-item {
    font-size: 12px;
    padding: 5px 8px;
  }

  .e-card .date {
    font-size: var(--font-size-paragraph-mb);
  }

  .e-card .title {
    font-size: var(--font-size-subheadline-mb);
  }
  .e-card .descr {
    font-size: var(--font-size-paragraph-mb);
  }

  .e-card .sub {
    font-size: var(--font-size-paragraph-mb);
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    height: 100%;
  }

  .footer-content p {
    font-size: 28px;
  }

  footer .social-links img {
    height: 40px;
    width: 40px;
  }
}
