/* ---------------------------- */
/*      IMPORT GOOGLE FONTS    */
/* ---------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* ---------------------------- */
/*         ROOT VARIABLES      */
/* ---------------------------- */

:root {
  --font-size-headline: 48px;
  --font-size-headline-mb: 36px;
  --font-size-subheadline: 22px;
  --font-size-subheadline-mb: 20px;
  --font-size-paragraph: 16px;
  --font-size-paragraph-mb: 14px;

  --white-color: #fffffe;
  --purple-color: #7f5af0;
  --black-color: #16161a;
  --grey-color: #242629;
  --detail-color: #4c5560;
}

/* ---------------------------- */
/*         GLOBAL STYLES       */
/* ---------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", "Inter", sans-serif;
  background-color: #1e1e1e;
  color: var(--white-color);
}

/* ---------------------------- */
/*          TEXT STYLES        */
/* ---------------------------- */

.gradient-purple {
  background: linear-gradient(90deg, #7f5af0 0%, #ffffff 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headline-container {
  margin-bottom: 50px;
}

.headline {
  font-family: "Montserrat", sans-serif;
  display: inline;
  font-size: var(--font-size-headline);
  font-weight: 700;
}

/* ---------------------------- */
/*         NAVIGATION          */
/* ---------------------------- */

nav {
  background-color: var(--black-color);
  height: 80px;
  padding: 0 20px;
}

.nav-content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--white-color);
}

.nav-menu ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.nav-menu ul li a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px;
}

.nav-menu ul li a:hover {
  background-color: var(--grey-color);
  border-radius: 5px;
}

/* ---------------------------- */
/*         HERO SECTION        */
/* ---------------------------- */

.hero {
  background-color: var(--black-color);
  padding: 0 20px;
  height: 100vh;
  max-height: calc(100vh - 80px);
}

.hero-content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.hero-text {
  max-width: 550px;
}

.hero-name {
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
}

.sub-hero {
  font-size: 30px;
  font-weight: 500;
}

.hero-description {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-paragraph);
  font-weight: 400;
  color: var(--detail-color);
  margin-top: 20px;
}

/* ---------------------------- */
/*       HERO CONTACTS         */
/* ---------------------------- */

.hero-contacts {
  display: flex;
  gap: 25px;
  margin-top: 45px;
  align-items: center;
}

.hero-contacts-icons {
  display: flex;
  gap: 25px;
  align-items: center;
}

.hero-contacts a {
  border-radius: 5px;
  overflow: hidden;
}

.hero-contacts a:hover {
  background-color: var(--grey-color);
}

.hero-contacts img {
  width: 51px;
  height: 51px;
}

/* ---------------------------- */
/*         HERO IMAGE          */
/* ---------------------------- */

.hero-img img {
  width: 500px;
  height: 500px;
  background-color: var(--grey-color);
  object-fit: cover;
  border-radius: 5px;
}

/* ---------------------------- */
/*         RESUME BUTTON       */
/* ---------------------------- */

.resume-btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--purple-color);
  text-decoration: none;
  font-size: 18px;
  color: var(--white-color);
}

.resume-btn:hover {
  color: var(--purple-hover-color); /* make sure this variable exists */
}

/* ---------------------------- */
/*         SKILL SECTION       */
/* ---------------------------- */

.skill-section {
  background-color: var(--grey-color);
  padding: 0 20px;
}

.skill-content {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 0;
}

.skill-group {
  margin-bottom: 50px;
}

.skill-group .sub-headline {
  font-size: var(--font-size-subheadline);
  font-weight: 700;
  margin-bottom: 20px;
}

.skill-group ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  list-style: none;
}

.skill-group img {
  width: 130px;
  height: 130px;
}

/* ---------------------------- */
/*        MEDIA QUERIES        */
/* ---------------------------- */

@media (max-width: 768px) {
  .headline {
    font-size: var(--font-size-headline-mb);
  }

  .nav-menu {
    display: none;
  }

  .hero {
    max-height: none;
    padding-bottom: 50px;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text {
    margin: 20px 0;
  }

  .hero-name {
    font-size: var(--font-size-headline-mb);
    line-height: var(--font-size-headline-mb);
    margin: 10px 0;
  }

  .sub-hero {
    font-size: var(--font-size-subheadline);
  }

  .hero-description {
    font-size: var(--font-size-paragraph-mb);
    margin-top: 40px;
  }

  .hero-img {
    width: 100%;
    height: auto;
  }

  .hero-contacts {
    flex-direction: column;
    align-items: center;
    margin: 15px;
    gap: 15px;
  }

  .skill-group .sub-headline {
    font-size: var(--font-size-subheadline-mb);
  }

  .skill-group ul {
    gap: 20px;
  }

  .skill-group img {
    width: 60px;
    height: 60px;
  }
}
